body {
  margin: 0;
}
.box1 {
  background-color: #ff9c91;
  width: 20px;
  height: 20px;
  padding: 20px;
  border: 2px solid #00ffff;
  margin: 10px 20px 30px 40px;
}
.box2 {
  background-color: #b4b40b;
  width: 30px;
  height: 30px;
  border: 2px solid black;
}